!!!
%html
  %head
    %title LandablePublicist
    = stylesheet_link_tag    "landable_publicist/application", media: "all"
    = javascript_include_tag "landable_publicist/application"
    = csrf_meta_tags
  %body
    = yield